@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}

:root {
  --black-color: rgba(25, 24, 24, 1);
  --white-color: rgba(255, 255, 255, 1);
  --yellow-color: rgba(235, 217, 107, 1);
  --gray-color: rgba(127, 127, 127, 1);
  --light-gray-color: rgba(211, 211, 211, 1);
  --red-color: rgba(234, 23, 1, 1);
  --circle-color: rgba(239, 236, 235, 1);
  --lavender-color: rgba(230, 230, 250, 1);
  --light-Wood: rgba(218, 165, 32, 1);
  --gold: rgba(255, 215, 0, 1);
  --charcoal: rgba(54, 69, 79, 1);
  --Periwinkle: rgba(204, 204, 255, 1);
  --tan: rgba(210, 180, 140, 1);
  --fuchisa: rgba(255, 0, 255, 1);
  --Green: rgba(0, 128, 0, 1);
  --navy: rgba(0, 0, 128, 1);
  --Light-Gray: rgba(217, 217, 214, 1);
  --Blush: rgba(255, 182, 193, 1);
  --burnt-orange: rgba(255, 69, 0, 1);
  --light-Blue: rgba(173, 216, 230, 1);
  --purple-color: rgba(128, 0, 128, 1);
}

body {
  background: var(--circle-color);
}

.big-mac {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: var(--yellow-color);
  /* margin-bottom: 10px; */
  border-bottom: solid 4px var(--black-color);
  padding: 0 0.85rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--yellow-color);
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

/* h1 {
  
  background-color: var(--black-color);
} */

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* padding-right: 25rem; */
  padding-top: 0.3rem;
  color: var(--black-color);
}

.logo img {
  object-fit: cover;
  height: 3.5rem;
  border-radius: 10rem;
}

.logo h2 {
  padding-left: 2rem;
}

.menu li a {
  color: var(--white-color);
  text-decoration: none;
  display: block;
  line-height: 1;
  font-size: 1.8rem;
  padding: 15px 9px;
}

.menu li a:hover {
  box-shadow: 0 -5px 0px #fff inset, 500px 0 0 rgba(255, 185, 155, 0.23) inset;
  padding: 23px 23px 20px 20px;
  line-height: 2;
}

/* hamburger start */

.hamburger {
  position: relative;
  width: 1.2rem;
  height: 0.24em;
  background: var(--circle-color);
  border-radius: 1rem;
  z-index: 2;
  cursor: pointer;
  transition: 0.03s;
}

/* before and after rule */

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  height: 0.24rem;
  right: 0;
  background: var(--circle-color);
  border-radius: 0.3rem;
  transition: 0.3s;
}

.hamburger::before {
  top: 0.3rem;
  width: 1.2rem;
}

.hamburger::after {
  top: -0.3rem;
  width: 1.2rem;
}

.toggle-menu {
  position: absolute;
  width: 1rem;
  height: 100%;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.hamburger,
.toggle-menu {
  display: none;
}

/* hamburger controls */

.navigation input:checked ~ .hamburger {
  background: transparent;
}

.navigation input:checked ~ .hamburger::before {
  transform: rotate(-45deg);
  top: 0;
  width: 1rem;
}

.navigation input:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(45deg);
  width: 1rem;
}

.navigation input:checked ~ .menu {
  right: 0;
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}

.hero-section {
  background-image: url(../img/scenic-mountains-landscape-after-rain-carpathians-ukraine.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  height: 38rem;
  position: relative;
  border-bottom: solid 4px var(--black-color);
  margin: 0 0.8rem;
  /* margin-left: 0.8rem;
  margin-right: 0.81rem; */
  border-radius: 1.1rem 1.4rem;
}

.hero-section .main-text {
  max-width: 60rem;
  bottom: 0.5rem;
  overflow: hidden;
  position: absolute;
  font-family: "Roboto Slab", serif;
  border-radius: 11px 14px;
  /* bottom: 11.8rem; */
  top: 4rem;
  left: 3.5rem;
}

.main-text h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--Periwinkle);
  padding: 0 0 6.6rem 4.5rem;
  max-width: 50vw;
  border-radius: 11px 11px 0 0;
  background-color: rgba(153, 145, 27, 0.41);
  border: solid 0.4px #dd5c;
}

.main-text p {
  font-size: 1.51rem;
  text-transform: uppercase;
  border: solid 0.4px #dd5c;
  
  /* border: 2px solid rgba(255, 255, 255, 0.2); */
  font-weight: 500;
  border-radius: 0 0 11px 11px;
  background-color: rgba(153, 145, 27, 0.41);
  /* background-color: rgba(
    255,
    255,
    255,
    0.2
  );  */
  
  /* Semi-transparent white background */

  color: var(--Periwinkle);
  max-width: 50vw;
  padding: 0 4rem 0 1rem;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(
    255,
    255,
    255,
    0.2
  );
}

.service-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--black-color);
  background-repeat: no-repeat;
  margin: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 1em;
}

.global-delivery img,
.shopping-experience img,
.customer-support img {
  height: 3.5rem;
}

.shopping-experience {
  border: #fff;
  background-color: rgba(25, 24, 24, 1);
  border-radius: 1.9rem;
  cursor: pointer;
}

.global-delivery,
.customer-support {
  border: #fff;
  background-color: rgba(239, 236, 235, 1);
  border-radius: 1.9rem;
  cursor: pointer;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.coal-card {
  background-color: rgba(54, 69, 79, 1.4);
  background-repeat: no-repeat;
}

.card-img-section {
  width: 100%;
  height: 100%;
}

.honey-card {
  background-color: rgba(218, 165, 32, 1.2);
  background-repeat: no-repeat;
}

.Palm-oil-card {
  background-color: rgba(234, 23, 1, 1);
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(0.5px);
}

.card .card-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  box-shadow: 3px 3px 3px 3px var(--gray-color);
  border-radius: 11px 14px;
  border: 4px solid #232121;
  max-width: 408px;
  height: 540px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.card:hover .product-intro {
  right: 0;
}

.card .product-intro {
  height: 100%;
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: center;
  background: rgba(49, 72, 114, 0.429);
  filter: blur(0.1px);
  top: 0;
  right: -100%;
  transition: 2.5s;
  border-radius: 11px 14px;

    font-weight: 600;
  font-size: 20px;
  letter-spacing: 2.5px;
}

.Palm-oil-card h3 {
  color: var(--burnt-orange);
  font-size: 1.5rem;
  background: var(--white-color);
  inline-size: 14rem;
}


.product-intro .card-title {
  display: flex;
  flex-direction: column;
  max-height: 540px;
  overflow: hidden;
  gap: 1.2rem;
}

.product-list {
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  color: var(--white-color);
  list-style: none;
}
.coal-card h3 {
  color: var(--charcoal);
  font-size: 1.5rem;
  background: var(--white-color);
  inline-size: 6.5rem;
}
.coal-card p,
.honey-card p,
.Palm-oil-card p {
  color: var(--white-color);
}

.honey-card h3 {
  color: var(--light-Wood);
  font-size: 1.5rem;
  background: var(--white-color);
  inline-size: 13.5rem;
}

.place-order {
  color: var(--lavender-color);
  background-color: var(--burnt-orange);
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  /* align-self: center; */
}

@media screen and (min-width: 1024px) {
  .big-mac {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }

  .big-mac .logo {
    padding: 1rem 0 0 3rem;
    margin: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .hamburger,
  .toggle-menu {
    display: block;
  }

  .big-mac {
    display: flex;
    flex-direction: row;
  }

  .header {
    padding: 10px 10px;
  }

  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: var(--gray-color);
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 68px;
    z-index: calc(1);
  }

  .menu li {
    width: 100%;
  }

  .menu li a,
  .menu li a:hover {
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    inset: 0;
  }

  .hero-section .main-text{
    left: 3rem;
  }

  .main-text{
    max-width: 100%;
    position: relative;
  }

  .main-text h1{
    font-size: 1.5rem;
  }

  .main-text p{
    max-width: 100%;
    margin-right: 3rem;
  }
  .hero-content{
    flex-direction: column;
  }
  .card{
    margin: 0 auto;
  }
}

@media screen and (max-width: 558px) {
  
}